In [3]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [4]:
# A series is like an array from numpy, except it has data labels: it is indexed.

In [5]:
obj = Series([3,6,9,12])

obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
# Each value is indexed: '0' index will call a '3', the '1' index a '6' and so on.

In [7]:
obj.values

array([ 3,  6,  9, 12])

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000], index=['USSR','Germany','China','Japan','USA'])

ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [12]:
ww2_cas['USA']

400000

In [13]:
# With series, we can check with array operations.
# Check which cuntries had cas greater than four-million.

In [14]:
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [15]:
# Treat a series as an ordered dictionary.

In [22]:
'USSR' in ww2_cas

True

In [23]:
# Convert a series into a dictionary

ww2_dict = ww2_cas.to_dict()

ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [24]:
# Convert back to being a series.

ww2_series = Series(ww2_dict)

ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [25]:
countries = ['USSR','Germany','China','Japan','USA','Argentina']

In [28]:
obj2 = Series(ww2_dict,index=countries)

obj2

USSR         8700000.0
Germany      4300000.0
China        3000000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
dtype: float64

In [29]:
# Because Argentina was not in there, it has a value of 'null', NaN.

In [30]:
# Check every value for a 'null' value.

pd.isnull(obj2)

USSR         False
Germany      False
China        False
Japan        False
USA          False
Argentina     True
dtype: bool

In [32]:
# Check every value for a 'not-null' value.


pd.notnull(obj2)

USSR          True
Germany       True
China         True
Japan         True
USA           True
Argentina    False
dtype: bool

In [33]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [35]:
obj2

USSR         8700000.0
Germany      4300000.0
China        3000000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
dtype: float64

In [37]:
# You can add series to series

ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [38]:
# Give series names:

obj2.name = 'World War 2 Casualties by State'

In [39]:
obj2

USSR         8700000.0
Germany      4300000.0
China        3000000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
Name: World War 2 Casualties by State, dtype: float64

In [40]:
obj2.index.name = 'States'

In [41]:
obj2

States
USSR         8700000.0
Germany      4300000.0
China        3000000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
Name: World War 2 Casualties by State, dtype: float64