In [1]:
import numpy as np
import pandas as pd

In [2]:
# https://pypi.org/project/xlrd/
# pip install xlrd

# https://pypi.org/project/openpyxl/
# pip install openpyxl

In [4]:
# Open the excel file as an object

xlsfile = pd.ExcelFile('28_Lec_Excel_Test.xlsx')

In [5]:
# Parse the first sheet of the excel file and set as DataFrame

dframe = xlsfile.parse('Sheet1')

dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365