In [2]:
import numpy as np

from pandas import Series,DataFrame

import pandas as pd

from numpy.random import randn

In [6]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
# Pandas is good at dealing with 'Null' values.

In [14]:
# Any new indexes will be filled with '0', 'E' and 'F' will remain 'Null' since they existed in the previous index:

ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [13]:
# Use particuar methods for filling values.

In [62]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [63]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [66]:
#Reindexing rows, columns or both

#Lets make a dataframe with some random values

# Calling reshape allows us to generate a matrix instead of a vector: 
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A -1.043151 -0.762510  0.395315  0.560304 -0.670316
B -0.641689 -0.337951 -0.120843 -1.834771  1.341117
D  0.233417 -0.989678 -0.677152 -1.592827 -0.341253
E -0.548822  2.973168 -1.654876  0.348098 -0.813466
F  0.211725 -0.629188 -1.049732  0.347744 -0.056881

In [68]:
# We forgot 'C', let us fix this.

dframe2 = dframe.reindex(['A','B','C','D','E','F'])

dframe2

# This inserted the 'C' row, and filled with 'Null' values.

       col1      col2      col3      col4      col5
A -1.043151 -0.762510  0.395315  0.560304 -0.670316
B -0.641689 -0.337951 -0.120843 -1.834771  1.341117
C       NaN       NaN       NaN       NaN       NaN
D  0.233417 -0.989678 -0.677152 -1.592827 -0.341253
E -0.548822  2.973168 -1.654876  0.348098 -0.813466
F  0.211725 -0.629188 -1.049732  0.347744 -0.056881

In [90]:
#Can also explicitly reindex columns

new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.043151 -0.762510  0.395315  0.560304 -0.670316   NaN
B -0.641689 -0.337951 -0.120843 -1.834771  1.341117   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.233417 -0.989678 -0.677152 -1.592827 -0.341253   NaN
E -0.548822  2.973168 -1.654876  0.348098 -0.813466   NaN
F  0.211725 -0.629188 -1.049732  0.347744 -0.056881   NaN

In [91]:
# Reindex quickly using the label-indexing with ix (we'll see this more in the future)

# Original:
dframe

       col1      col2      col3      col4      col5
A -1.043151 -0.762510  0.395315  0.560304 -0.670316
B -0.641689 -0.337951 -0.120843 -1.834771  1.341117
D  0.233417 -0.989678 -0.677152 -1.592827 -0.341253
E -0.548822  2.973168 -1.654876  0.348098 -0.813466
F  0.211725 -0.629188 -1.049732  0.347744 -0.056881

In [98]:
new_columns = ['col1','col2','col3','col4','col5','col6']

new_columns

['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [102]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

# I suppose that I somehow need to reindex
# KeyError: "['C'] not in index"

KeyError: "['C'] not in index"