In [2]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [8]:
# Get or make a '.cvs' file. Mine is saved in the course file, as '25_Lec.csv'

dframe = pd.read_csv('25_Lec.csv')

dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  A  s  d  f  rabbit
2  5  2  7  4     dog

In [10]:
# It used the comma as a delimiter, and the first row as the column names.
# To read the file without doing this:

dframe=pd.read_csv('25_Lec.csv',header=None)

dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  A  s  d  f  rabbit
3  5  2  7  4     dog

In [12]:
# An alternate way to import '.csv' files is using the 'read_table' method.

dframe=pd.read_table('25_Lec.csv',sep=',',header=None)

dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  A  s  d  f  rabbit
3  5  2  7  4     dog

In [13]:
# We can indicate a specific number of rows to read:

pd.read_csv('25_Lec.csv',header=None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [14]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  A  s  d  f  rabbit
3  5  2  7  4     dog

In [17]:
# Export a DataFrame:

# dframe.to_csv('FILE_NAME_HERE')

dframe.to_csv('25_Lec_My_Testdata_Out.csv')

# And now that file is saved in the folder.

In [19]:
# This allows us to see the output wihtout saving it:

import sys

dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,A,s,d,f,rabbit
3,5,2,7,4,dog

In [25]:
# What is a delimiter?

import webbrowser

webbrowser.open('https://en.wikipedia.org/wiki/Delimiter#:~:text=A%20delimiter%20is%20a%20sequence,sequence%20of%20comma%2Dseparated%20values.')
                
# Go to wikipedia description of delimiter.

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_A_s_d_f_rabbit
3_5_2_7_4_dog

In [26]:
# Here the delimiter is changed from the ',' to a '_'
                
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_A_s_d_f_rabbit
3_5_2_7_4_dog

In [27]:
# Here the delimiter is changed from the '_' to a '?'
            
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?A?s?d?f?rabbit
3?5?2?7?4?dog

In [30]:
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,A,s,d
3,5,2,7

In [32]:
# Information on more pythons built-in csv reader and writer:

# https://docs.python.org/2/library/csv.html